<template>
  <div class="c1">
    <h1>เว็ปนี้จัดทำขึ้นเพื่อการศึกษาเท่านั้น</h1>
    <p></p>
  </div>
</template>

<script setup>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.c1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.c1 h1{
  font-size: 70px;
  margin-top: 80px;
}
</style>