<template>
  <div class="bcg">
    <img src="https://png.pngtree.com/background/20210709/original/pngtree-food-spicy-and-seductive-lobster-shellfish-chinese-meal-background-picture-image_912702.jpg" alt="Your Image" class="top-image">
    <div class="text-overlay" style="font-family : 'Charm', sans-serif !important;">
      <div class="title">
        <h1>อาหารไทย</h1>
      </div>
    </div>
  </div>
  <div class="container">
 
      <!-- 1. -->
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img  src="https://img.wongnai.com/p/1968x0/2021/01/17/c95146b336274b0283b92b6943d289d8.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“กระเพราหมูกรอบ”</h5>
            <p class="card-text">กระเพราหมูกรอบเป็นเมนูหนึ่งที่อร่อยและทำได้ง่ายมากๆ และทำได้ไม่อยาก วันนี้เราก็จะมาแนะนำวิธีทำแบบง่ายๆ อิ่มท้องกันค่าๆ</p>
            <a href="https://www.wongnai.com/recipes/ugc/b00e203535e54f5b8937a0704c22306c" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
        </div>
      <!-- 2. -->
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/05/16/6d55e23e1e9741f5a303fe82f03a8d52.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“ข้าวมันไก่หม้อหุงข้าว”</h5>
            <p class="card-text">เข้าครัวมาทำเมนู “ข้าวมันไก่หม้อหุงข้าว” แบบง่าย ๆ ฟินได้เพียง 3 ขั้นตอนเท่านั้น ถ้าพร้อมแล้วมาดูวิธีทำกันเลย อ่านต่อได้ที่</p>
            <a href="https://www.wongnai.com/recipes/chicken-rice-in-rice-cooker" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
        </div>
      <!-- 3. -->
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1968x0/2018/12/14/84bda90d6b044b198f306024818afeae.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“โจ๊กเป็ดเห็ดหอมสไตล์เวียดนาม”</h5>
            <p class="card-text">โจ๊กนุ่ม ๆ หรือข้าวต้มเป็ดสไตล์เวียดนาม เป็นอาหารที่นิยมรับประทานในฤดูหนาว เพิ่มคุณค่าและความพิเศษให้กับรสชาติ </p>
            <a href="https://www.wongnai.com/recipes/ugc/3b7ba312d3f7428d834520eb2ba81537" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
        </div>
      <!-- 4. -->
      <div class="card shadow my-5">
        <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1968x0/2024/02/03/72a0e073dcac43c585b53918cd3f8ab4.jpg" class="card-img-top" alt="img">
        </div>
        <div class="card-body">
            <h5 class="cart-title">“บะหมี่หมูแดง”</h5>
            <p class="card-text">วันนี้จะมาสอนวิธีการทำบะหมี่หมูแดง จะเป็นสไตล์แบบฮ่องกง เค็มหวานนุ่มละมุน เส้นจะหอมเหนียวนุ่มหนึบ มีรสเค็มอ่อนๆ</p>
            <a href="https://www.wongnai.com/recipes/ugc/02662e123bd34ca8832bf5567da4bfb1" class="btn btn-primary btn-sm">อ่านต่อ</a>
        </div>
      </div>
      <!-- 5. -->
      <div class="card shadow my-5">
        <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1968x0/2019/06/06/ddddb0d743f1468ca264215f1c0a0b2c.jpg" class="card-img-top" alt="img">
        </div>
        <div class="card-body">
            <h5 class="cart-title">“บะหมี่ซี่โครงหมูแดง”</h5>
            <p class="card-text">วันนี้มาเข้าครัวกันครับจะสอนวิธีทำบะหมี่หมูแดงรสชาติเข้มข้น ซี่โครงหมูนุ่มๆ ง่ายๆ</p>
            <a href="https://www.wongnai.com/recipes/ugc/14a26361489c46a691d2cb9d50401d1b" class="btn btn-primary btn-sm">อ่านต่อ</a>
        </div>
      </div>
      <!-- 6. -->
      <div class="card shadow my-5">
        <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1968x0/2017/09/26/f4a2b35abd654da6897ac35a7828866e.jpg" class="card-img-top" alt="img">
        </div>
        <div class="card-body">
            <h5 class="cart-title">“ข้าวไข่ข้นกุ้ง เนื้อนุ่มละมุนลิ้น”</h5>
            <p class="card-text">ข้าวไข่ข้นกุ้งนุ่มๆ วิธีทีทำก็ไม่ยาก ส่วนผสมมีแค่ 3 อย่างเท่านั้นเอง มาเริ่มทำกันเลยดีกว่า</p>
            <a href="https://www.wongnai.com/recipes/ugc/86aa61cbd1cf40aa86bab1e1f5396bfa" class="btn btn-primary btn-sm">อ่านต่อ</a>
        </div>
      </div>
    <!-- 7. -->
    <div class="card shadow my-5">
          <div class="card-header p-0">
            <img  src="https://img.wongnai.com/p/1920x0/2020/02/04/13a5a80b873b4aa0b4f829d337a91004.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“น้ำพริกอ่อง”</h5>
            <p class="card-text">เมนู “น้ำพริกอ่อง” เมนูอาหารเหนือขึ้นชื่อ ด้วยรสเผ็ดอมหวานนิด ๆ จากมะเขือเทศเนื้อฉ่ำ ผัดเคล้าเนื้อหมูแทรกมันเพิ่มความฟินไม่รู้ลืม เป็นเมนูหมูสูตรทำเองได้ง่าย ๆ</p>
            <a href="https://www.wongnai.com/recipes/thai-northen-style-chilli-relish" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
    </div>
    <!-- 8. -->
    <div class="card shadow my-5">
          <div class="card-header p-0">
            <img  src="https://img.wongnai.com/p/1920x0/2024/01/31/18defcb993b043d2824c8b2086ea763b.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“สเต๊กเนื้อไทยวากิวซอสไวน์แดง”</h5>
            <p class="card-text">ชวนสายเนื้อมาทำ “สเต๊กเนื้อไทยวากิวซอสไวน์แดง” เมนูสุดคลาสสิก เนื้อวากิวสันแหลมนุ่มเด้งกินเพลิน ราดซอสฉ่ำ ๆ ชวนน้ำลายสอ ทำเองที่บ้านได้ ง่ายกว่าที่คิด!</p>
            <a href="https://www.wongnai.com/recipes/thai-wagyu-steak-with-red-wine-sauce" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
      </div>
    <!-- 9. -->
    <div class="card shadow my-5">
          <div class="card-header p-0">
            <img  src="https://img.wongnai.com/p/1920x0/2017/05/17/448576967752425eb5ac819deb1f4134.jpg" class="card-img-top" alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">“ลาบหมู”</h5>
            <p class="card-text">“ลาบหมู” เมนูอาหารอีสานยอดฮิต ที่นอกจากส้มตำก็ต้องเมนูนี้นี่แหละที่ขาดไม่ได้รสนัวจัดจ้าน ถ้าจกกินกับข้าวเหนียวยิ่งฟิน ถ้าพร้อมแล้วมาดูสูตรและวิธีทําลาบหมูกัน!</p>
            <a href="https://www.wongnai.com/recipes/spicy-minced-pork" class="btn btn-primary btn-sm">อ่านต่อ</a>
          </div>
        </div>
      </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

.bcg{
  position: relative;
}
.top-image{
  width: 100%;
  display: block;
  top: 0;
  left: 0; 
}
.card shadow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-gap: 2rem;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
}
@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    width: 320px;
  }
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .container {
    grid-gap: 0;
  }
}
.card-body{
height: auto;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 10px;  
}
.title h1{
  font-size: 100px;
  color: aliceblue;
}
</style>
