<script scoped>
import { RouterLink } from 'vue-router';
</script>

<template>
    <nav class="navbar navbar-expand-lg nabar-dark shadow stickey-top " style="background-color: black;">
        <div class="container">
            <router-link :to="{ name: 'home' }" class="navbar-brand text-white mx-auto" style="font-family: 'Charm', sans-serif !important;">แนะนำอาหารไทย</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link :to="{ name: 'home' }" class="nav-link active text-white" style="font-family: 'Charm', sans-serif !important;" aria-current="page" href="#">หน้าแรก</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'about' }" class="nav-link text-white"  style="font-family: 'Charm', sans-serif !important;" href="#">เกี่ยวกับเรา</router-link>
                    </li>  
                </ul>
            </div>
        </div>
    </nav>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

.navbar-brand {
  font-family: 'Charm', sans-serif !important;
}

.navbar {
    font-family: 'Sarabun', sans-serif;
}

</style>
